
# macOS system files
.DS_Store
app/.DS_Store

# Xcode user settings
*.xcuserdatad
*.xcworkspace
*.xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata/*
*.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# Build artifacts
DerivedData/
build/

# SwiftPM
.build/
.swiftpm/

# Logs
*.log
